@model User
@{

    Layout = "_Productcs";
}
<div class="container">

    <form asp-controller="Users" asp-action="Login">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="Name">
            <span asp-validation-for="Name" class="text-danger"> </span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        @* hiển thị thông báo lỗi cho người dùng *@
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </form>
</div>

 